.movieCard {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  cursor: pointer;

  .movie_card_image {
    width: 250px;
    height: 280px;
    object-fit: cover;
    border-radius: 6px;
  }
  .movie_card_title {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }
  .movie_card_desc {
    font-size: 12px;
    color: #e0e3e8;
  }
}
