.filled_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  width: 180px;
  height: 45px;
  cursor: pointer;

  @media screen and (max-width: 960px) {
    width: 100%;
  }
}
