.hero_container {
  display: flex;
  width: 100%;
  height: 100vh;
  top: 50%;
  position: relative;

  .hero_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero_container_content {
    display: flex;
    padding: 2rem;

    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    .hero_category {
      font-size: 14px;
      color: #fff;

      .hero_featured_text {
        color: #e8ba35;
      }
    }
    .hero_title {
      font-size: 42px;
      font-weight: 600;
      width: 600px;
      color: #fff;
      @media screen and (max-width: 960px) {
        width: 100%;
        font-size: 38px;
      }
    }
    .hero_ratings {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      .hero_star_rate {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #fff;
        .star_icon {
          font-size: 30px;
          color: #e8ba35;
        }
      }
      .hero_age_grade {
        padding: 0.4rem 0.9rem;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
        color: #fff;
      }
    }
    .hero_description {
      font-size: 16px;
      width: 600px;
      line-height: 24px;
      color: #fff;
      @media screen and (max-width: 960px) {
        width: 100%;
      }
    }
    .hero_buttons {
      display: flex;
      gap: 1rem;
      .watch_button {
        background: #3772ff;
        color: #fff;
      }
      .info_button {
        background: #21354a;
        color: #fff;
        border: 1px solid #98b6ff;
      }
    }
  }
}
